* {
	margin:0px;
	padding:0px;
}

#chat {
	right:50px;
	width:260px;
	height:100%;
	position:absolute;
	line-height:18px;
	font-family:tahoma;
	font-size:12px;
}

#chatOpener {
	width:260px;
	height:20px;
	bottom:0px;
	position:absolute;
	background:#fb9318;
	text-align:center;
}

#chatToggler {
	width:260px;
	height:320px;
	bottom:0px;
	position:absolute;
	background:#fff;
	display:none;
}

#chatCloser {
	width:260px;
	height:20px;
	background:#fb9318;
	text-align:center;
}

#chatPeople {
	width:260px;
	height:37px;
	background:#ccc;
	overflow: hidden;
}

#chatContent {
	width:260px;
	height:239px;
	background:#fff;
	overflow: auto;
	overflow-x: hidden;
}

#chatNick {
	width:60px;
	height:20px;
	float:left;
}

#chatInput {
	width:192px;
	height:20px;
	float:left;
}

#chatContent::-webkit-scrollbar {
	width: 12px;
}

#chatContent::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

#chatContent::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}