#chat {
	top:0px;
	right:60px;
	width:262px;
	height:100%;
	position:absolute;
	font-size:12px;
	line-height:18px;
	font-family:tahoma;
}

#chat p,
#chat input {
	margin:0px;
	padding:0px;
}

#chatOpener {
	width:260px;
	height:30px;
	bottom:0px;
	position:absolute;
	background:#fb9318;
	text-align:center;
	border-top:solid 1px #000;
	border-left:solid 1px #000;
	border-right:solid 1px #000;
}

#chatToggler {
	width:260px;
	height:331px;
	bottom:0px;
	position:absolute;
	background:#fff;
	border:solid 1px #000;
}

#chatCloser {
	width:260px;
	height:30px;
	background:#fb9318;
	text-align:center;
}

#chatPeople {
	width:255px;
	height:37px;
	border-bottom:solid 1px #ccc;
	overflow: hidden;
	padding-left: 5px;
}

#chatContent {
	width:255px;
	height:240px;
	background:#fff;
	overflow: auto;
	overflow-x: hidden;
	padding-left: 5px;
}

#chatNick {
	width:60px;
	height:20px;
	float:left;
}

#chatInput {
	width:192px;
	height:20px;
	float:left;
}

#chatContent::-webkit-scrollbar {
	width: 12px;
}

#chatContent::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

#chatContent::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}